params {
    // Required Parameters
    outdir             = "/vast/scratch/users/$USER/AF2.3.0_test"
    inputdir           = "$projectDir/example/af_test232"
    model_preset       = "monomer_ptm" // Values can be (monomer|monomer_casp14|monomer_ptm|multimer)
    model_indices      = "0,2"         // Values can be any combination of number between 0,4 example: 0,1 or 0,2,3 or 0,1,2,3,4 or 1
    num_predictions    = 2
    model_to_relax     = "best"        //Values can be (all|best|none, default: best).
    max_template_date  = "" //Maximum template release date to consider in YYYY-MM-DD format. If left empty (""), todays date will be used.

    //Optional Parameters
    custom_templates_path  = ""  // Path to a directory containing custom cif templates. (Default: /vast/projects/alphafold/databases/pdb_mmcif/mmcif_files).
    pdb_seqres_db_path     = ""  //Path to a file containing custom templates. (Default: /vast/projects/alphafold/databases/pdb_seqres/pdb_seqres.txt).
    database_preset        = "full_dbs"     //Choose db preset model (reduced_dbs|full_dbs). (Default: full_dbs).
    AF_UNIREF30_DB         = ""   //override HHblits uniref30 database. A directory containing UniRef30_YYYY_MM_* files.
    AF_PDB70_DB            = ""  //override HHsearch pdb70 database. A directory containing pdb70_* files.
}



profiles {
    debug {
        dumpHashes             = true
        process.beforeScript   = 'echo $HOSTNAME'
    }
    milton{
        conda.enabled          = true
        process {
            withLabel:Alphafold2 {
                module = 'alphafold/2.3.2' 
                cpus = 10
                memory = '100 GB'
            }    
           
        }
    }
    
}
