/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Process Configurations
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to set:
        memory   = Amount of RAM memory to allocate the process.
        queue    = Slurm partition to use
        cpus     = Amount of RAM memory to allocate the process.
        time     = Job wall time.
----------------------------------------------------------------------------------------
*/

//process configurations
process {
    withLabel:Test {
        queue='regular'
        cpus = 5
        memory={ 1.GB * task.attempt }
        time='12h'
        //errorStrategy ={ 'retry'  }
        maxRetries= 5
    }
}
